body 
{
  background: #F6F6F6;
}

img.icon
{
  position: absolute;
  max-width: 80%;
  top: 10%;
  left: 10%;
}

img.icon:empty
{
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img.badge 
{
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

@media screen and (orientation: portrait) {
  img.icon {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.icon {
      max-height: 90%;
  }
}